.track-img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.tracks-item {
    height: 100px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.tracks-item img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    margin-right: 7px;
}

.playlist {
    min-height: 100vh;
}

div.ui.playlist-setion {
    width: 80%;
    margin: auto;
}

.playlist-title {
    color: white;
}

.comment-section {
    background-color: #fff;
    padding: 3%;
}

.user-pic {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.single-comment {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}

.comment-text-section {
    margin-left: 3%;
    width: 90%;
    overflow-wrap: break-word;
}

.comment-top p{
    margin-bottom: 2px;
}

.comment-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.track-name {
    font-size: 10px;
}

.selected-trackinfo {
    background-color: #fff;
    padding-left: 2%;
    padding-bottom: 1%;
}

.tracks-item-data {

}