.navbar-section.ui.menu .item {
    color: #fff;
}

.navbar-section.ui.menu .item:not(:last-child):hover {
    background-color: #d6d6d6 !important;
}

.navbar-section.menu {
    margin-bottom: 0;
}

.ui.secondary.menu .active.item,
.ui.secondary.menu:hover .active.item {
    background: rgba(255, 255, 255, 0.788);
    color: rgba(0,0,0,.95);
    border-radius: 0;
}
