.navbar-section.ui.menu .item {
    color: #fff;
}

.navbar-section.ui.menu .item:not(:last-child):hover {
    background-color: #d6d6d6 !important;
}

.navbar-section.menu {
    /* background: linear-gradient(16deg, rgba(28, 25, 45, 1) 46%, rgba(46, 46, 91, 1) 100%); */
    margin-bottom: 0;
}